/* ---------------------------------- Hero ---------------------------------- */

.containerHero {
  background-image: linear-gradient(to bottom,
      #1B3D5C 50%,
      #ffd796 50%);
}

.containerHero::after {
  content: "";
  display: block;
  min-height: 100vh;
}

.content {
  min-height: 100vh;
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
  flex-direction: column;
  mix-blend-mode: exclusion;
}

.titleHero {
  color: #fdff96;
  font-size: clamp(40px, 4vw, 100px);
}

.subTitleHero {
  margin-top: 5%;
  color: #fdff96;
  font-size: clamp(15px, 2vw, 70px);
}