@font-face {
  font-family: 'SfPro';
  src: url('../public/SF-Pro-Display-Medium.otf');
  src: url('../public/SF-Pro-Display-Regular.otf');
  font-weight: 400;
  font-style: normal;
}

.container {
  font-family: 'SfPro';
}

/* ---------------------------------- Footer ---------------------------------- */

.footer {
  background-color: #142a41;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: var(--text);
}