.body {
  font-family: 'Gemunu Libre', sans-serif;
}

/* ---------------------------------- Hero ---------------------------------- */

.containerHero {
  background-image: linear-gradient(to bottom,
      #1B3D5C 50%,
      #ffd796 50%);
}

.containerHero::after {
  content: "";
  display: block;
  min-height: 300vh;
}

.content {
  min-height: 100vh;
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
  flex-direction: column;
  mix-blend-mode: exclusion;
}



.titleHero {
  color: #fdff96;
  font-size: clamp(40px, 4vw, 100px);
}

.subTitleHero {
  margin-top: 5%;
  color: #fdff96;
  font-size: clamp(15px, 2vw, 70px);
}

/* ---------------------------------- Story ---------------------------------- */

.storyContainer {
  min-height: 100vh;
  height: 100vh;
  position: sticky;
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: row;
  background-color: #142a41;
}


.aboutme {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 35%;
  height: 100%;
  color: #A86E0F;
}

.textContainer {
  width: 65%;
  height: 100%;
  padding-right: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(10px, 4vw, 20px);
  color: #ffd796;
}

.titleStory {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  height: 50%;
  font-size: clamp(40px, 4vw, 100px);
}

.containerImg {
  display: flex;
  width: 100%;
  height: 50%;
  align-items: flex-end;
  justify-content: center;
}

.nextImg {
  overflow: hidden;
  border-radius: 50px;
}

@media only screen and (max-width: 767px) {
  .storyContainer {
    flex-direction: column;
  }

  .aboutme {
    height: 100%;
    margin-top: 25%;
  }

  .story {
    width: 100%;
    height: 75%;
    padding: 40px;
  }
}

/* ---------------------------------- Timeline ---------------------------------- */

.containerTitleExperience {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #142a41;
}

.titleExperience {
  color: #A86E0F;
  font-size: clamp(40px, 4vw, 80px);
}

.timelinecontainer {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #1B3D5C;
  padding-bottom: 100px;
  padding-top: 200px;
}

.timelinecontainer::before {
  content: ' ';
  position: absolute;
  top: -0px;
  width: 100%;
  height: 200px;
  background: linear-gradient(to bottom, #142a41, transparent);
  z-index: 2;
}

.timelinecontainer::after {
  background-color: #A86E0F;
  content: '';
  position: absolute;
  margin-top: 10%;
  left: calc(50% - 2px);
  width: 3px;
  height: 80%;
}

.dateCard {
  color: #1B3D5C;
  font-size: clamp(10px, 4vw, 18px);
}

.titleCard {
  margin-top: -2%;
  color: #1B3D5C;
  font-size: clamp(15px, 4vw, 23px);
}

.companyCard {
  margin-top: -3.5%;
  color: #1B3D5C;
  font-size: clamp(8px, 4vw, 15px);
}

.listCard {
  color: #1B3D5C;
}

.placeCard {
  color: #1B3D5C;
  font-size: clamp(8px, 4vw, 15px);
  margin-top: -2.5%;
}

.containerSkills {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}

.skillsCard {
  max-width: 110px;
  height: 55px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  padding: 1%;
  margin-left: 2%;
  border-style: solid;
  border-radius: 50% 20% / 10% 40%;
  border-color: #1B3D5C;
  border-width: 4px;
  color: #1B3D5C;
  font-size: clamp(8px, 4vw, 15px);
}

.timelineitem {
  display: flex;
  justify-content: flex-end;
  padding-right: 60px;
  margin: 10px 0;
  width: 50%;
  z-index: 1;
}

.timelineitem:nth-child(even) .containerSkills {
  justify-content: flex-end;
}

.timelineitem:nth-child(odd) {
  align-self: flex-end;
  justify-content: flex-start;
  padding-right: 10px;
  padding-left: 60px;
}

.timelineitem:nth-child(odd) .timelineitemcontent .circle {
  left: -85px;
  right: auto;
}

.timelineitem:nth-child(odd) .timelineitemcontent {
  align-items: flex-start;
  text-align: left;
}

.timelineitem:nth-child(odd) .timelineitemcontent::after {
  right: auto;
  left: -7.5px;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}

.timelineitemcontent {
  background-color: #ffd796;
  border-radius: 5px;
  box-shadow: 0 0 5px #4277A8;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  padding: 15px;
  max-width: 85%;
  width: 700px;
  text-align: right;
}

.timelineitemcontent::after {
  background-color: #ffd796;
  content: '';
  box-shadow: 1px -1px 1px #4277A8;
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  position: absolute;
  top: calc(50%);
  right: -7.5px;
}

.timelineitemcontent .circle {
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 15px);
  width: 50px;
  height: 50px;
  right: -85px;
  border: 2px solid #A86E0F;
  padding-right: 1.5%;

}

.circle {
  background-color: #1B3D5C;
  width: 100%;
  height: 100%;
  padding-right: 0% !important;

}

.workCircle {
  padding-top: 15px !important;
  margin-bottom: 7px !important;
  overflow: inherit;

}

.schoolCircle {
  padding-top: 15px !important;
  margin-bottom: 7px !important;
  overflow: inherit;
  overflow: inherit;
}

@media only screen and (max-width: 767px) {
  .timelinecontainer::after {
    background-color: #A86E0F;
    content: '';
    position: absolute;
    left: calc(7%);
    width: 3px;
    height: 100%;
  }

  .timelineitem {
    width: 100%;
    justify-content: flex-start;
    padding-left: 60px;
    padding-right: 0px;

  }

  .timelinecontainer::after {
    margin-top: 60%;
    height: 71%;
  }

  .timelineitem .timelineitemcontent .circle {
    left: -85px;
    right: auto;
  }

  .timelineitem:nth-child(even) .timelineitemcontent::after {
    left: -7.5px;
    box-shadow: -1px 1px 1px #4277A8;
  }

  .timelineitemcontent,
  .timelineitem:nth-child(odd) .timelineitemcontent {
    left: 39px;
    width: 900px;
    align-items: flex-start;
    text-align: left;
  }

  .timelineitemcontent {
    width: calc(100% - 4px);
    align-items: flex-start;
  }
}



/* ---------------------------------- Skills ---------------------------------- */

.titleSkills {
  color: #A86E0F;
  font-size: clamp(40px, 4vw, 80px);
  margin: 0px;

}

.containerSkillsPart {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 30%;

}

.containerSkill {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 4%;
}

.normalLogo {
  object-fit: contain;
  width: 70px;
  height: 70px;
}

.specialLogo {
  object-fit: contain;
  width: 60px;
  height: 70px;
}

.containerPourcent {
  opacity: 0;
  position: absolute;
}

.containerPourcent:hover {
  opacity: 1;
  height: 80px;
  width: 80px;
  text-align: center;
  font-size: 1.5em;
  background-color: rgba(0, 0, 0, .7);
  color: #ffd796;
  border-style: solid;
  border-radius: 20%;
  /* border-radius: 50% 20% / 10% 40%; */
  border-color: #ffd796;
  border-width: 4px;
}

.containerCenter {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skillSection {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #1B3D5C;
}

@media only screen and (max-width: 767px) {
  .containerSkillsPart {
    width: 100%;
  }
}

/* ---------------------------------- Portfolio ---------------------------------- */

.containerPortfolio {
  display: flex;
  align-content: center;
  justify-content: center;
}

.side {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #A86E0F;
  /* background-color: #1B3D5C; */
  color: white;
  font-size: 1.7em;
  font-weight: 700;
  text-transform: uppercase;
}

.containerSlide {
  position: relative;
  height: 400vh;
  flex-direction: column;
  display: flex;
  width: 95%;
}

.slide:nth-child(odd) {
  width: 100%;
  height: 100vh;
  background-color: #ffd796;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
}

.slide:nth-child(even) {
  width: 100%;
  height: 100vh;
  background-color: #1B3D5C;
  display: flex;
  flex-direction: row;
}

.textPortfolio {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 55%;
  justify-content: flex-start;
  padding: 2%;

}

.rightSlide {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 45%;
  height: 100%;
  padding: 2%;
}

.oddskill {
  max-width: 110px;
  height: 55px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  padding: 1%;
  margin-left: 2%;
  border-style: solid;
  border-radius: 50% 20% / 10% 40%;
  border-color: #1B3D5C;
  border-width: 4px;
  color: #1B3D5C;
  font-size: clamp(8px, 4vw, 15px);
}

.evenskill {
  max-width: 110px;
  height: 55px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  padding: 1%;
  margin-left: 2%;
  border-style: solid;
  border-radius: 50% 20% / 10% 40%;
  border-color: #ffd796;
  border-width: 4px;
  color: #ffd796;
  font-size: clamp(8px, 4vw, 15px);
}

.titlePortfolioSlide {
  color: #A86E0F;
  margin-bottom: 20%;
}

.imgPortfolio {
  margin-top: 2%!important;
}



/* A TRIER */

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {

  .card,
  .footer {
    border-color: #222;
  }

  .code {
    background: #111;
  }

  .logo img {
    filter: invert(1);
  }
}