@font-face {
  font-family: 'SfPro';
  src: url('../public/SF-Pro-Display-Medium.otf');
  src: url('../public/SF-Pro-Display-Regular.otf');
  font-weight: 400;
  font-style: normal;
}

.container {
  font-family: 'SfPro';
}
/* ---------------------------------- Hero ---------------------------------- */

.containerHero {
  background-image: linear-gradient(to bottom,
      #1B3D5C 50%,
      #ffd796 50%);
}

.containerHero::after {
  content: "";
  display: block;
  min-height: 100vh;
}

.content {
  min-height: 100vh;
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
  flex-direction: column;
  mix-blend-mode: exclusion;
}



.titleHero {
  color: #fdff96;
  font-size: clamp(40px, 4vw, 100px);
}

.subTitleHero {
  margin-top: 5%;
  color: #fdff96;
  font-size: clamp(15px, 2vw, 70px);
}

/* ---------------------------------- Story ---------------------------------- */

.storyContainer {
  min-height: 100vh;
  height: 100vh;
  position: sticky;
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: row;
  background-color: #142a41;
}

.aboutme {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 35%;
  height: 20%;
  color: var(--title);
}

.textContainer {
  width: 65%;
  height: 100%;
  padding-right: 5%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  font-size: clamp(10px, 4vw, 20px);
  color: var(--text);
  font-family: 'SfPro';

}

.titleStory {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  font-size: clamp(40px, 4vw, 100px);
}

.containerImg {
  display: flex;
  width: 100%;
  height: 50%;
  align-items: flex-end;
  justify-content: center;
}

.nextImg {
  overflow: hidden;
  border-radius: 50px;
}


@media only screen and (max-width: 1000px) {
  .storyContainer {
    flex-direction: column;
  }

  .aboutme {
    height: 30%;
    margin-top: 25%;
  }

  .story {
    width: 100%;
    height: 35%;
    padding: 40px;
  }

  .textContainer {
    text-align: center;
    width: 85%;
    align-items: center;
    justify-content: flex-start;
    padding-right: 0%;
  }

  .buttonContainer {
    margin-top: 5%;
  }
}

/* ---------------------------------- Timeline ---------------------------------- */
.containerTitleExperience {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120%;
  background-color: #142a41;
}

.titleExperience {
  color: var(--title);
  font-size: clamp(40px, 4vw, 80px);
}

.timelinecontainer {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--background);
  width: 100%;
  height: 100%;
}

.timelinecontainer::before {
  content: ' ';
  position: absolute;
  top: -0px;
  width: 100%;
  height: 200px;
  background: linear-gradient(to bottom, #142a41, transparent);
  z-index: 2;
}

.timelinecontainer::after {
  background-color: var(--title);
  content: '';
  position: absolute;
  left: calc(50% - 2px);
  width: 3px;
  height: 100%;
}

.dateCard {
  color: var(--background);
  font-size: clamp(0.7em, 1vw, 1.1em);
  margin-bottom: 15px;
}

.titleCard {
  margin-top: -2%;
  color: var(--background);
  font-weight: bold;
  font-size: clamp(0.9em, 3vw, 1.5em);
}

.companyCard {
  margin-top: -3.5%;
  color: var(--background);
  font-weight: 600;
  font-size: clamp(0.9em, 3vw, 1.3em);
}

.timelineitem:nth-child(even) .listCard {
  direction: rtl;
}

.listCard {
  color: var(--background);
  font-size: clamp(0.9em, 3vw, 1.5em);
}

.placeCard {
  color: var(--background);
  font-size: clamp(0.7em, 1vw, 1.1em);
  margin-top: -2.5%;
}

.containerSkills {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start !important;
  width: 100%;
  height: 100%;
}

.skillsCard {
  max-width: 150px;
  height: 55px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  padding: 1%;
  margin-left: 2%;
  border-style: solid;
  border-radius: 10%;
  border-color: var(--background);
  border-width: 4px;
  color: var(--background);
  font-size: 1.2em;
}

.timelineitem {
  display: flex;
  justify-content: flex-end;
  padding-right: 60px;
  margin: 10px 0;
  width: 50%;
  z-index: 1;
}

.timelineitem:nth-child(even) .containerSkills {
  justify-content: flex-end !important;
}

.timelineitem:nth-child(odd) {
  align-self: flex-end;
  justify-content: flex-start;
  padding-right: 10px;
  padding-left: 60px;
}

.timelineitem:nth-child(odd) .timelineitemcontent .circle {
  left: -85px;
  right: auto;
}

.timelineitem:nth-child(odd) .timelineitemcontent {
  align-items: flex-start;
  text-align: left;
}

.timelineitem:nth-child(odd) .timelineitemcontent::after {
  right: auto;
  left: -7.5px;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}

.timelineitemcontent {
  background-color: var(--text);
  border-radius: 5px;
  box-shadow: 0 0 5px #4277A8;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  padding: 15px;
  max-width: 85%;
  width: 700px;
  text-align: right;
}

.timelineitemcontent::after {
  background-color: var(--text);
  content: '';
  box-shadow: 1px -1px 1px #4277A8;
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  position: absolute;
  top: calc(50%);
  right: -7.5px;
}

.timelineitemcontent .circle {
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 15px);
  width: 50px;
  height: 50px;
  right: -85px;
  border: 2px solid var(--title);
  padding-right: 1.5%;

}

.circle {
  background-color: var(--background);
  width: 100%;
  height: 100%;
  padding-right: 0% !important;

}

.workCircle {
  padding-top: 15px !important;
  margin-bottom: 7px !important;
  overflow: inherit;

}

.schoolCircle {
  padding-top: 15px !important;
  margin-bottom: 7px !important;
  overflow: inherit;
  overflow: inherit;
}

@media only screen and (max-width: 1000px) {
  .timelinecontainer::after {
    left: calc(7%);
    width: 2.5px;
  }

  .timelineitem {
    width: 100%;
    justify-content: flex-start;
    padding-left: 60px;
    padding-right: 0px;

  }

  .timelineitem .timelineitemcontent .circle {
    left: -85px;
  }

  .timelineitem:nth-child(even) .timelineitemcontent::after {
    left: -7.5px;
    box-shadow: -1px 1px 1px #4277A8;
  }

  .timelineitemcontent,
  .timelineitem:nth-child(odd) {
    left: 30px;
    align-items: flex-start;
    text-align: left;
  }

  .timelineitemcontent {
    width: 950px;
  }

  .skillsCard {
    font-size: 0.7em;
    height: 30px;
    border-width: 2px;
    border-radius: 3%;
  }

  .listCard {
    direction: ltr !important;
  }

  .containerSkills {
    justify-content: center !important;
  }

  .timelineitem:nth-child(even) .containerSkills {
    justify-content: center !important;
  }
}



/* ---------------------------------- Skills ---------------------------------- */

.titleSkills {
  color: var(--title);
  font-size: clamp(40px, 4vw, 80px);
  margin-top: 25%;
}

.containerSkillsPart {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 25%;
}

.containerSkill {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 4%;
}

.normalLogo {
  object-fit: contain;
  width: 85px;
  height: 85px;
}

.specialLogo {
  object-fit: contain;
  width: 70px;
  height: 80px;
}

.awsLogo {
  object-fit: contain;
  width: 100px;
  height: 100px;
}

.containerPourcent {
  opacity: 0;
  position: absolute;
}

.containerPourcent:hover {
  opacity: 1;
  height: 80px;
  width: 80px;
  text-align: center;
  font-size: 1.5em;
  background-color: rgba(0, 0, 0, .7);
  color: var(--text);
  border-style: solid;
  border-radius: 20%;
  /* border-radius: 50% 20% / 10% 40%; */
  border-color: var(--text);
  border-width: 4px;
}

.containerCenter {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skillSection {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--background);
}

@media only screen and (max-width: 1000px) {
  .containerSkillsPart {
    margin-top: 50%;
    width: 100%;
  }

  .containerSkill {
    width: 50%;
  }

  .normalLogo {
    object-fit: contain;
    width: 65px;
    height: 65px;
  }

  .specialLogo {
    object-fit: contain;
    width: 50px;
    height: 60px;
  }

  .awsLogo {
    object-fit: contain;
    width: 80px;
    height: 80px;
  }
}

/* ---------------------------------- Portfolio ---------------------------------- */

.containerPortfolio {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.side {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--title);
  color: white;
  font-size: 1.7em;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 100;
}

.containerSlide {
  position: relative;
  height: 500vh;
  flex-direction: column;
  display: flex;
  width: 95%;
}

.slide:nth-child(odd) {
  width: 100%;
  height: 100vh;
  background-color: var(--text);
  color: var(--background);
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
}

.slide:nth-child(even) {
  width: 100%;
  height: 100vh;
  background-color: var(--background);
  color: var(--text);
  display: flex;
  align-items: center;
  flex-direction: row;
}

.textPortfolio {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 55%;
  justify-content: flex-start;
  padding: 2%;

}

.rightSlide {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 45%;
  height: 100%;
  padding: 2%;
}

.oddskill {
  max-width: 110px;
  height: 55px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  padding: 1%;
  margin-left: 2%;
  border-style: solid;
  border-radius: 50% 20% / 10% 40%;
  border-color: var(--background);
  border-width: 4px;
  color: var(--background);
  font-size: clamp(8px, 4vw, 15px);
}

.evenskill {
  max-width: 110px;
  height: 55px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  padding: 1%;
  margin-left: 2%;
  border-style: solid;
  border-radius: 50% 20% / 10% 40%;
  border-color: var(--text);
  border-width: 4px;
  color: var(--text);
  font-size: clamp(8px, 4vw, 15px);
}

.titlePortfolioSlide {
  color: var(--title);
  margin-bottom: 20%;
}

.imgPortfolio {
  border-radius: 5%;

}

.imgPortfolioContainer {
  position: relative;
  width: 700px;
  height: 400px;
}

.descriptionTitlePortfolio {
  color: var(--title);
  font-weight: 500;
  font-size: 1.5em;
}

.descriptionPortfolio {
  margin-top: -2%;
  font-size: 1.1em;

}

.listPortfolio {
  margin-top: -2%;
  font-size: 1.2em;
}

.containerSkillsPortfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  margin-top: -18%;
  margin-bottom: 5%;
}

@media screen and (max-width: 1850px) and (min-width: 1400px) {
  .imgPortfolioContainer {
    width: 650px;
    height: 350px;
  }
}

@media screen and (max-width: 1400px) and (min-width: 1200px) {
  .imgPortfolioContainer {
    width: 500px;
    height: 350px;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 751px) {
  .side {
    flex-direction: row;
    width: 100%;
    height: 70px;
    opacity: 85%;
  }

  .textPortfolio {
    width: 95%;
  }

  .containerPortfolio {
    width: 100%;
    height: 100%;
    flex-direction: column;
  }

  .containerSlide {
    width: 100%;
  }

  .rightSlide {
    width: 85%;
  }


  .slide {
    flex-direction: column !important;
  }

}

@media only screen and (max-width: 750px) {
  .containerSkillsPortfolio {
    justify-content: center;
  }

  .side {
    flex-direction: row;
    width: 100%;
    height: 70px;
    opacity: 85%;
  }

  .containerPortfolio {
    width: 100%;
    height: 100%;
    flex-direction: column;
  }

  .containerSlide {
    width: 100%;
    height: 100% !important;
  }

  .slide:nth-child(odd) {
    flex-direction: column;
    height: 165vh;
  }

  .slide:nth-child(even) {
    flex-direction: column;
    align-items: center;
    height: 165vh;
  }

  .descriptionTitlePortfolio {
    margin-top: 0%;
  }

  .textPortfolio {
    width: 90%;
  }

  .containerSkillsPortfolio {
    margin-bottom: 2%;
  }

  .imgPortfolioContainer {
    position: relative;
    width: 350px;
    height: 185px;
  }

  .rightSlide {
    width: 100%;
    align-items: center;
  }
}

/* ---------------------------------- Contact ---------------------------------- */


.contactContainer {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  min-height: 100vh;
  background-color: var(--background);
  color: var(--text);
}

.stillthereContact {
  font-size: clamp(15px, 4vw, 25px);
  color: var(--text);
}


.contactTitleContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleContact {
  font-size: clamp(40px, 4vw, 100px);
  color: var(--title);
}

.typeformContainer {
  display: flex;
  justify-content: center !important;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.button64 {
  align-items: center;
  background-image: linear-gradient(144deg, var(--text), var(--title) 50%);
  border: 0;
  border-radius: 8px;
  box-shadow: var(--title) 0 15px 30px -5px;
  box-sizing: border-box;
  color: var(--text);
  display: flex;
  font-size: 24px;
  line-height: 1em;
  width: 400px;
  height: 75px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button64:active,
.button64:hover {
  outline: 0;
}

.button64 span {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #142a41;
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button64:hover span {
  color: #142a41;
  background: none;
}

.socialnetworkContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  margin-top: 5%;
}

.test {
  opacity: 0;
  cursor: default;
}

.socialnetworkImg {
  margin-left: 3%;
  position: relative;
  width: 55px;
  height: 55px;
}

@media only screen and (max-width: 1200px) {
  .button64 {
    width: 300px;
    font-size: 20px;
    min-width: 196px;
  }

  .contactContainer {
    flex-direction: column;
  }

  .socialnetworkImg {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (max-width: 900px) {
  .button64 {
    width: 220px;
    height: 50px;
    font-size: 15px;
    min-width: 196px;
  }

  .contactContainer {
    flex-direction: column;
  }

  .socialnetworkImg {
    width: 40px;
    height: 40px;
  }
}
/* ---------------------------------- Contact ---------------------------------- */

.footer {
  background-color: #142a41;
}









/* A TRIER */

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {

  .card,
  .footer {
    border-color: #222;
  }

  .code {
    background: #111;
  }

  .logo img {
    filter: invert(1);
  }
}